.month-expense-con {
  .mt-datePicker {
    width: 100% !important;
  }

  .mt-datePicker .form-control {
    padding: 0.6rem 0.75rem !important;
    text-align: center !important;
    //   font-size: 1.2rem !important;
    //   width: 75% !important;
  }
}
