$primary-clr: #0B2546;
// #4d5791

$secondary-clr: #b4c6f0;
$secondary-clr-lt: #272e36;

$font-clr-1: #606e87;
$font-clr-2: #1a1a1a;
$font-clr-3: #d8d8d8;
$font-clr-4: #6c7175;
$font-clr-5: #afafaf;
$font-clr-6: #e5e5e5;
$font-clr-7: #535353;

$white: #ffffff;
$success-green: #49a800;
$error-red: #ff0000;
$asterisk-error: #e74747;

$primary-header-color: #14b498;
